<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- ENTER HIGHWAY SIGNS -->
  <node
      name  = "EHIGH_T"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/enter_highway_sign/model.sdf -sdf -model EHIGH_T -x 14.351139 -y 11.283200 -z 0 -R 0  -P 0  -Y 0"/>

  <node
      name  = "EHIGH_Y"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/enter_highway_sign/model.sdf -sdf -model EHIGH_Y -x 6.230150 -y 11.819600 -z 0 -R 0  -P 0  -Y -3.13"/>

</launch>
