<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- ROUNABOUT SIGNS -->
  <node
      name  = "GIR_Q"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/roundabout_sign/model.sdf -sdf -model GIR_Q -x 16.479601 -y 9.691600 -z 0 -R 0  -P 0  -Y 1.570796"/>

  <node
      name  = "GIR_R"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/roundabout_sign/model.sdf -sdf -model GIR_R -x 14.948400 -y 10.418900 -z 0 -R 0  -P 0  -Y 0"/>
  
  <node
      name  = "GIR_S"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/roundabout_sign/model.sdf -sdf -model GIR_S -x 11.015 -y -3.297 -z 0.078998 -R 0  -P 0  -Y 3.141592"/>
  
</launch>
