<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node
      name  = "tltalker"
      pkg   = "traffic_light_pkg"
      type  = "tl_talker.py"
  />
  <!-- TRAFFIC LIGHTS -->
  <node
      name  = "start"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model start -x 12.018652 -y 1.804714 -z 0 -R 0 -P 0 -Y -3.13"/>

  <node
      name  = "master"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model master -x 3.400788 -y 4.484750 -z 0 -R 0 -P 0 -Y 0"/>

  <node
      name  = "slave"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model slave -x 2.124099 -y 4.843524 -z 0 -R 0 -P 0 -Y 1.570796"/>
  
  <node
      name  = "antimaster"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model antimaster -x 1.785881 -y 3.547899 -z 0 -R 0 -P 0 -Y 3.131641"/>
    <node
      name  = "traffic_light_1"
      pkg   = "gazebo_ros"
      type  = "spawn_model"
      args  = "-file $(find models_pkg)/traffic_light/model.sdf -sdf -model traffic_light_1 -x 3.080571 -y 3.162376 -z 0 -R 0 -P 0 -Y 1.570796"/>

</launch>
